input[type="date"] {
    --color: rgb(255, 255, 255);
  
    border: 2px solid var(--color);
    font-size: 1.1rem;
    background: #000d;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
  
    &::-webkit-datetime-edit {
      margin-right: 0.5rem;
    }
  
    &::-webkit-datetime-edit-fields-wrapper {
      background: #000;
      border-radius: 8px;
      padding: 4px 10px;
    }
  
    &::-webkit-datetime-edit-text {
      color: cyan;
    }
  
    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      background: rgb(122, 122, 122);
    }
    &::-webkit-calendar-picker-indicator {
      filter:invert(1);
    }
  }